{% extends "layout.html" %}
{% block container %}
<div class="py-32 relative overflow-x-auto sm:rounded-lg">
  <div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default">
      <a href="{{ url_for('cursos.agregarCursos') }}"class="flex mb-5  bg-success-soft hover:bg-success-medium border border-success-subtle text-fg-success-strong text-xs font-medium px-6 py-4 rounded flex items-center gap-2">Nuevo Registro</a>  
      <table class="w-full text-sm text-left rtl:text-right text-body">
          <thead class="bg-neutral-secondary-soft border-b border-default">
              <tr>
                  <th scope="col" class="px-6 py-3 font-medium">Nombre del Curso</th>
                  <th scope="col" class="px-6 py-3 font-medium">Descripción</th>
                  <th scope="col" class="px-6 py-3 font-medium">Profesor</th>
                  <th scope="col" class="px-6 py-3 font-medium text-center">Alumnos</th>
                  <th scope="col" class="px-6 py-3 font-medium text-center">Editar</th>
                  <th scope="col" class="px-6 py-3 font-medium text-center">Detalles</th>
                  <th scope="col" class="px-6 py-3 font-medium text-center">Eliminar</th>
              </tr>
          </thead>
          <tbody>
            {% for curso in cursos %}
              <tr class="odd:bg-neutral-primary even:bg-neutral-secondary-soft border-b border-default">
                    <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                        {{ curso.nombre }}
                    </th>
                    <td class="px-6 py-4">
                        {{ curso.descripcion }}
                    </td>
                    <td class="px-6 py-4">
                        {{ curso.maestro.nombre }}
                    </td>
                  <td class="px-6 py-4">
                    <a href="{{ url_for('cursos.gestion', id=curso.id) }}" class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-heading rounded-base group bg-gradient-to-br from-cyan-500 to-blue-500 hover:text-white focus:ring-4 focus:outline-none">
                      <span class="relative px-4 py-2.5 transition-all ease-in duration-75 bg-neutral-primary-soft rounded-base group-hover:bg-transparent">
                        alumnos
                      </span>
                    </a>  
                  </td>
                  <td class="px-6 py-4">
                    <a href="{{ url_for('cursos.editar', id=curso.id) }}" class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-heading rounded-base group bg-gradient-to-br from-cyan-500 to-blue-500 hover:text-white focus:ring-4 focus:outline-none">
                      <span class="relative px-4 py-2.5 transition-all ease-in duration-75 bg-neutral-primary-soft rounded-base group-hover:bg-transparent">
                        Editar
                      </span>
                    </a>  
                  </td>
                  
                  <td class="px-6 py-4">
                    <a href="{{ url_for('cursos.detalles', id=curso.id) }}" class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-heading rounded-base group bg-gradient-to-br from-purple-500 to-pink-500 hover:text-white focus:ring-4 focus:outline-none">
                      <span class="relative px-4 py-2.5 transition-all ease-in duration-75 bg-neutral-primary-soft rounded-base group-hover:bg-transparent">
                        Detalles
                      </span>
                    </a>  
                  </td>
                  
                  <td class="px-6 py-4">
                    <a href="{{ url_for('cursos.eliminar', id=curso.id) }}" class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-heading rounded-base group bg-gradient-to-br from-red-400 to-red-600 hover:text-white focus:ring-4 focus:outline-none">
                      <span class="relative px-4 py-2.5 transition-all ease-in duration-75 bg-neutral-primary-soft rounded-base group-hover:bg-transparent group-hover:dark:bg-transparent leading-5">
                        Eliminar
                      </span>
                    </a>    
                  </td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
  </div>
</div>
{% endblock %}