{% extends "layout.html" %}
{%block container%}
<div class="py-32 relative overflow-x-auto sm:rounded-lg">
    <h1 style="font-size: 100px; 
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
        background: linear-gradient(45deg, #74ebd5, #acb6e5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        font-weight: 900;
        letter-spacing: -2px;">
        Bienvenido :3
    </h1>
      
  </div>
</div>
    {%endblock%}
    <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
</body>

</html>
